* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    font-size: 14px;
    color: #212121;
    line-height: 1.6;
    background-color: #fefefe;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.btn:link,
.btn:visited {
    padding: 5px 22px;
    display: inline-block;
    text-decoration: none;
    font-size: 90%;
    transition: all 0.2s ease;
    border: 1px solid #F16424;
    outline: none;
}

.btn-primary:link,
.btn-primary:visited {
    color: #141414;
    border-radius: 20px;
}

.btn-primary:hover,
.btn-primary:active {
    background-color: #F16424;
    color: #fff;
}

.btn-secondary {
    padding: 10px 24px;
    outline: none;
    border: none;
    color: #fff;
    transition: all 0.2s ease;
    cursor: pointer;
}

.btn-main-color {
    background-color: #F16424;
}

.btn-danger-color {
    background-color: rgb(187, 27, 27);
}

.btn-blue-color {
    background-color: #4285F4;
    margin-left: 10px;
}

.btn-submit:hover {
    background-color: #141414;
}

.share_btn {
    display: inline-block;
    width: 35px;
    height: 35px;
    font-size: 110%;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    margin-left: 10px;
    border: 1px solid #656565;
    cursor: pointer;
}

.content__title {
    margin-top: 20px;
}

nav {
    background-color: rgb(34, 34, 34);
    color: #fff;
    margin-bottom: 40px;
    overflow: hidden;
}

nav img {
    width: 100px;
    height: auto;
    float: left;
}

nav .menu {
    float: right;
    list-style-type: none;
}

nav .menu li {
    display: inline-block;
    margin-left: 15px;
    margin-top: 15px;
    cursor: pointer;
}

nav .menu .user__info {
    font-size: 85%;
    cursor: default;
}

.post {
    display: flex;
    padding: 30px 0px;
    border-bottom: 2px dotted #DCDCDC;
}

.post__img_wrapper {
    flex-basis: 28%;
    overflow: hidden;
}

.post__img {
    width: 100%;
    height: 180px;
    border-radius: 12px;
}

.post__content {
    flex: 4;
    padding: 0px 40px;
}

.post__content__details {
    color: #656565;
    font-size: 85%;
}

.post__content__body {
    margin: 10px 0px 20px 0px;
    font-size: 95%;
}

/* ---- Post Details ----- */
.postDetails__img {
    overflow: hidden;
    max-height: 450px;
    border-radius: 15px;
}

.postDetails img {
    width: 100%;
}

.postDetails__wrapper {
    padding: 20px 80px;
}

.postDetails__wrapper h1 {
    color: #141414;
    font-size: 160%;
}

.postDetails__body p {
    margin: 30px 0px;
    font-size: 115%;
    line-height: 1.9;
}

.postDetails__options {
    display: flex;
    justify-content: space-between;
}

.post__create {
    padding: 30px 0px;
    overflow: hidden;
}

.post__create input {
    width: 100%;
    margin: 10px 0px;
    padding: 10px 10px;
    height: 40px;
}

.post__create textarea {
    width: 100%;
    margin: 10px 0px;
    height: 150px;
    padding: 20px;
}

.user__create {
    padding: 30px 0px;
    overflow: hidden;
}

.user__create input {
    width: 100%;
    margin: 10px 0px;
    padding: 10px 10px;
    height: 40px;
}